:root {
	--fa-primary-color: #39659f;
	--fa-secondary-color: #6f7072;
	--fa-primary-opacity: 0.6;
	--fa-secondary-opacity: 1;
	--clr-primary: #39659f;
	--clr-white: #fff;
	--clr-main: #222;
	--clr-secondary: #dd4a9f;
	--clr-secondary-dark: #be006e;
	--clr-gray-dark: #6f7072;
	--clr-gray-medium: #b4bec3;
	--clr-gray-light: #fdfdfe;
	--clr-red: #be0019;
	--clr-orange: #f09100;
	--clr-turqouise: #0091aa;
	--clr-green: #afc800;
	--main-font-color: #222;
	--default-ff: 'Museo Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

body,
html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.login-pf-page {
	max-width: 600px;
	display: flex;
	flex-direction: column;
}

#kc-header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--clr-gray-light);
	font-family: var(--default-ff);
	background: var(--fa-primary-color);
}

#kc-header h1 {
	margin: 1em 0;
}

#login-hint {
	font-family: var(--default-ff);
	color: var(--main-font-color);
	background: var(--clr-gray-medium);
	margin-bottom: 4em;
	width: 100%;
	text-align: center;
	padding: 15px 20px;
	box-sizing: border-box;
}

#login-hint p {
	padding: 0;
	margin: 0 0 10px 0;
}

#login-hint a {
	text-decoration: none;
	color: var(--clr-secondary);
}

#kc-content-wrapper {
	text-align: center;
}

#kc-content-wrapper .alert {
	padding-bottom: 2em;
	font-family: var(--default-ff);
}

#kc-content-wrapper .alert-error > .kc-feedback-text {
	color: var(--clr-red);
}

#kc-form .form-group {
	display: flex;
	flex-direction: column;
}

#kc-form .form-group:first-child {
	margin-bottom: 3em;
}

#kc-form input {
	font-size: 19px;
}

#kc-form input[type='text'],
#kc-form input[type='password'] {
	width: 80%;
	margin: 0 auto;
	padding: 15px 20px;
	border-radius: 30px;
	outline: none;
	border: 2px solid black;
}

#kc-form input[type='text']:focus,
#kc-form input[type='password']:focus {
	border: 2px solid var(--fa-primary-color);
}

#kc-form input[type='submit'] {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	width: 94%;
	margin: 0 auto;
	padding: 15px 28px !important;
	border-radius: 35px;
	outline: none;
	border: 3px solid var(--clr-secondary);
	cursor: pointer;
	color: var(--main-font-color);
	margin-top: 2em;
	transition: color 0.2s;
	background: white;
}

#kc-form input[type='submit']:hover {
	color: var(--clr-secondary);
}

#kc-form label {
	width: 70%;
	text-align: left;
	margin-bottom: 1rem;
	padding-left: 1rem;
	display: block;
	color: var(--main-font-color);
	font-family: var(--default-ff);
	font-size: 1.125rem;
}

#kc-social-providers hr {
	margin-block: 2em;
	outline: none;
	width: 100%;
	height: 1px;
	border: none;
	background: var(--main-font-color);
}

#kc-social-providers h4 {
	color: var(--clr-primary);
	font-family: var(--default-ff);
	letter-spacing: 1px;
}

#kc-social-providers .kc-social-links {
	margin: 0;
	padding: 0;
	font-family: var(--default-ff);
}

#kc-social-providers .kc-social-links > a {
	display: block;
	text-decoration: none;
	color: var(--main-font-color);
	border-bottom: 1px solid black;
	padding: 10px 20px;
	box-sizing: border-box;
	margin: 1em auto;
	width: 80%;
	background: var(--clr-gray-light);
}

#kc-social-providers .kc-social-links > a:hover {
	border-bottom: 1px solid var(--fa-primary-color);
	color: var(--fa-primary-color);
}

#fhswf-footer {
	padding-block: 2.6em;
	text-align: center;
	font-size: 16px;
	width: 100%;
	margin-top: 2em;
	font-family: var(--default-ff);
}

#fhswf-footer a {
	display: block;
	text-decoration: none;
	color: var(--fa-primary-color);
	margin-block: 6px;
}

#fhswf-footer a:first-child {
	margin-bottom: 2em;
}

#fhswf_imprint a {
	display: inline-block;
}

#fhswf_helpdesk {
	margin-bottom: 2em;
}

#kc-modal {
	position: fixed;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.85);
	font-family: var(--default-ff);
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

#kc-modal .modal-wrapper {
	max-width: 800px;
	background: white;
	padding-inline: 20px;
	box-sizing: border-box;
	margin: 15px;
	padding-block: 2em;
}

#kc-modal .modal-body {
	text-align: left;
}

#kc-modal .modal-body p span {
	color: var(--clr-secondary);
}

#kc-modal .modal-header {
	text-align: center;
	color: black;
	line-height: 2.5em;
	margin-block: 2em;
}

#kc-modal .modal-header h1 {
	font-weight: 500;
	color: var(--clr-main);
}

#kc-modal .modal-header h1 span {
	color: var(--clr-primary);
}

#kc-modal .modal-footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	padding-block: 0.8em;
	gap: 30px;
}

#kc-modal .modal-footer button {
	appearance: none;
	border: 2px solid var(--clr-gray-dark);
	outline: none;
	background: white;
	border-radius: 40px;
	padding: 15px 30px;
	width: 200px;
	cursor: pointer;
	transition: all 0.1s;
	color: black;
}

#kc-modal .modal-footer button:hover {
	color: var(--clr-primary);
}

#kc-modal .modal-footer .sso-login {
	border: 2px solid var(--clr-secondary);
}

#kc-modal .modal-footer .sso-login:hover {
	color: var(--clr-secondary);
	box-shadow: 0px 0px 5px 0px var(--clr-gray-medium);
}

#kc-modal .modal-footer .sso-login {
	border: 2px solid var(--clr-secondary);
}

#kc-modal .modal-footer .sso-login span {
	font-weight: 400;
}
#kc-modal .modal-footer .sso-login p {
	margin: 0 0 5px 0;
	color: var(--clr-secondary);
	font-weight: 500;
	font-size: 1.4em;
}

#kc-modal .modal-footer .cluster-login {
	border: 2px solid var(--clr-gray-dark);
	font-size: 1.1em;
}

@media screen and (max-width: 499px) {
	#kc-modal .modal-footer button {
		width: 100%;
	}
}
